body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
form input[type=text], input[type=email], input[type=password] {
    max-width: 400px;
}

select[multiple] {
    max-width: none;
}

form input[type=number] {
    max-width: 100px;
}

select {
    max-width: 350px;
}

textarea {
    max-width: 900px;
}

.field-validation-error {
    border-radius: 4px;
    border: solid 1px #333;
    padding: 0 10px 0 5px;
}

.input-validation-error {
    border: 1px solid #b94a48;
}

.sorted-asc .grid-sort-arrow:after {
    content: " \2193";
}

.sorted-desc .grid-sort-arrow:after {
    content: " \2191";
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}


td.vraag {
    height: 35px;
}

.myBorder {
    background: #252525;
    color: #9d9d9d;
    border-radius: 45px;
    padding: 5px 10px;
}

.omschrijving {
    white-space: pre-line;
}

 .table-header-rotated {
            border-collapse: collapse;
        }

        .table-header-rotated th {
            padding: 5px 10px;
        }

        .table-header-rotated td {
            text-align: center;
            padding: 5px 5px;
            width: 100px;
        }

        .csstransforms .table-header-rotated th.rotate {
            height: 140px;
            white-space: nowrap;
        }

            .csstransforms .table-header-rotated th.rotate > div {
                -webkit-transform: translate(25px, 51px) rotate(315deg);
                -ms-transform: translate(25px, 51px) rotate(315deg);
                transform: translate(25px, 51px) rotate(315deg);
                width: 30px;
            }

                .csstransforms .table-header-rotated th.rotate > div > span {
                    border-bottom: 1px solid #ccc;
                    padding: 5px 10px;
                }

        .table-header-rotated th.row-header {
            padding: 0 10px;
            border-bottom: 1px solid #ccc;
        }

/*sidebar*/
#wrapper {
    width: 100%;
    position: relative;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    position: fixed;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    background-color: #ffffff;
}

#page-content-wrapper {
    width: 90%;
    padding-left: 250px;
    visibility: hidden;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 7px;
    font-weight: bold;
    display: block;
    border-left: 1px solid #cccccc;
}

    .sidebar-nav li {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        padding-bottom: 5px;
        padding-top: 5px;
        font-weight: normal;
    }

.sidebar-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-right: 1px solid #cccccc;
    list-style-type: none;
}

    .sidebar-ul a {
        color: #585858;
        padding-right: 10px;
        margin-left: 0;
        display: block;
    }

        .sidebar-ul a:hover {
            text-decoration: none;
        }

    .sidebar-ul li {
        border-top: 1px solid #cccccc;
        margin: 0;
    }

    .sidebar-ul .sidebar-menu:last-child {
        border-bottom: 1px solid #cccccc;
    }

.sidebar-menu b {
    font-size: 18px;
    position: absolute;
    right: 25px;
    top: 11px;
}

.sidebar-menu ul {
    padding: 0;
}

.selectedItem, .sidebar-ul li ul li:hover {
    background-color: #dddddd;
}


@media (max-width:750px) {

    #page-content-wrapper {
        padding-left: 2px;
        width: 100%;
    }

    .sidebar-nav {
        position: relative;
    }

    #sidebar-wrapper {
        position: relative;
    }
}

/*end sidebar*/

@media(max-width: 991px) {
    #wrapper {
        top: 50px;
    }
}

.emailEditor {
    overflow: scroll;
    max-height: 400px;
    max-width: 900px;
    height: 400px;
    border: 1px solid;
}


/*style="overflow:scroll; max-height:300px;height:200px;border:1px solid"*/