@model BegeleiderListVM
@{
    var overzicht = ViewHelpers.CurrentOverzicht();
}

<div id="grid-tableDiv">
    @Html.Grid(Model.Begeleiders).Columns(columns =>
{
    columns.Add(b => b.Familienaam).Encoded(false).Sanitized(false).Titled("Naam")
        .RenderValueAs(b => Html.ActionLink(b.Naam, "Details", "Begeleider", new { b.Id, overzicht }, new { }));

    columns.Add(b => b.HogentEmail).Titled("HoGent E-mail").Encoded(false).Sanitized(false)
        .RenderValueAs(b => Html.DisplayEmail(b.HogentEmail));

    if (Model.ToonActies)
    {
        columns.Add().Sanitized(false).Encoded(false)
           .RenderValueAs(b => Html.ActionLink("Wijzigen", "Edit", new { b.Id, overzicht }, new { @class = "btn btn-default" }) + " "
               + Html.ActionLink("Verwijderen", "Delete", new { b.Id, overzicht }, new { @class = "btn btn-default" }));
    }

}).Sortable(true).WithPaging(10).EmptyText("Geen begeleiders gevonden")
</div>
