@model IEnumerable<Begeleider>

@{
    ViewBag.Title = "Stagebegeleiders";
}

<h2>@ViewBag.Title</h2>
@if (CurrentUser.IsAdmin())
{<p>
        @Html.ActionLink("Nieuwe stagebegeleider", "Create")
    </p>
}
<a id="searchA" class="btn btn-default" style="display:inline">Zoeken</a>
@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "searchForm", @class = "form-horizontal" }))
{
    <div class="form-group">
        <label class="control-label col-md-1" for="voornaam">Voornaam</label>
        <div class="col-md-11">
            <input type="text" class="form-control" id="voornaam" name="voornaam" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-1" for="naam">Naam</label>
        <div class="col-md-11">
            <input type="text" class="form-control" id="naam" name="naam" />
        </div>
    </div>
    <div class="col-md-offset-1">
        <button type="submit" class="btn btn-default" id="zoekenSubmit">Zoeken</button>
        <a id="CancelBtn" class="btn btn-default">Annuleren</a>
    </div>
}

@Html.Partial("_begeleidersList")

@section scripts{
    <script src="~/Scripts/stagetool-list.js"></script>
}


