@model IEnumerable<Begeleider>

@{
    ViewBag.Title = "Stagebegeleiders";
}

<h2>@ViewBag.Title</h2>
@if (CurrentUser.IsAdmin())
{
    @Html.ActionLink("Nieuwe stagebegeleider", "Create")
}
@Html.Partial("_begeleidersList")

@section scripts{
        <script src="~/Scripts/stagetool-list.js"></script>
}


