@model IEnumerable<StandaardEmail>
@{
    ViewBag.Title = "Standaard E-mails";
}

<h2>@ViewBag.Title</h2>


    @Html.Grid(Model).Columns(column =>
    {
        column.Add().Titled("E-mail type").Sanitized(false).Encoded(false)
            .RenderValueAs(standaardEmail =>
                Html.ActionLink(Html.DisplayFor(model => standaardEmail.EmailType).ToString(), "StandaardEmailEdit",
                    "Instellingen", new { emailType = (int)standaardEmail.EmailType }, new { }));
        column.Add(s => s.Gedeactiveerd).Sanitized(false).Encoded(false)
            .RenderValueAs(s => Html.CheckBoxFor(model => s.Gedeactiveerd, new { disabled = "disabled" }));
    })
