@{
    ViewBag.Title = "Stages Toegepaste Informatica";
}
@section scripts
{
    <script src="~/Scripts/lib/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/lib/jquery-cycle.js"></script>
}

<div class="jumbotron">

    <div class="cycle-slideshow"
         data-cycle-fx=scrollHorz
         data-cycle-timeout=5000>
        @*Carousel items*@ 
        <img src="~/Images/foto-1.jpg" alt="foto1" style="width: 100%;" />
        <img src="~/Images/foto-2.jpg" alt="foto2" style="width: 100%;display:none;" />
        <img src="~/Images/foto-3.jpg" alt="foto3" style="width: 100%;display:none;" />
        <img src="~/Images/foto-4.jpg" alt="foto4" style="width: 100%;display:none;" />
        <img src="~/Images/foto-5.jpg" alt="foto5" style="width: 100%;display:none;" />
        <img src="~/Images/foto-6.jpg" alt="foto6" style="width: 100%;display:none;" />
    </div>
</div>

