@model IEnumerable<Bedrijf>
@{
    ViewBag.Title = "Bedrijven";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_BedrijfList", Model)

@section scripts{
    <script src="~/Scripts/stagetool-list.js"></script>
}