@model StageopdrachtIndexVM

<div id="grid-tableDiv">
    @Html.Grid(Model.Stageopdrachten).Columns(columns =>
{
    columns.Add(so => so.Titel).Titled("Titel")
        .Encoded(false).Sanitized(false)
        .RenderValueAs(so => Html.ActionLink(so.Titel, "Details", new { id = so.Id }));
    columns.Add(so => so.ToonSpecialisatie).Titled("Specialisatie");
    columns.Add(so => so.Semester).Titled("Semester");
    columns.Add(so => so.Academiejaar);
    columns.Add(so => so.AantalToegewezenStudenten).Titled("Aantal studenten").RenderValueAs(so => so.AantalToegewezenStudenten + "/" + so.AantalStudenten);
    if (User.IsInRole("bedrijf") == false)
    {
        columns.Add(so => so.Bedrijf.Naam).Titled("Bedrijf");
        columns.Add(so => so.Gemeente).Titled("Locatie");
    }
    if (User.IsInRole("admin") || User.IsInRole("begeleider"))
    {
        columns.Add().Titled("studenten")
            .Sanitized(false).Encoded(false)
            .RenderValueAs(so =>
            {
                string retVal = "<ul>";
                foreach (var student in so.Studenten)
                {
                    retVal += "<li>" + Html.ActionLink(student.Naam, "Details", "Student", new { id = student.Id }, new { }) + "</li>";
                }
                retVal += "</ul>";
                return retVal;
            }
            );
    }
    if (User.IsInRole("admin"))
    {
        columns.Add(so => so.ToonStatus).Titled("Status");
        if (Model.ToonOordelen)
        {
            columns.Add().Sanitized(false).Encoded(false)
                .RenderValueAs(so => !so.IsGoedgekeurd() ? Html.ActionLink("Goedkeuren", "Goedkeuren", new { id = so.Id }) : MvcHtmlString.Empty);
            columns.Add().Sanitized(false).Encoded(false)
                .RenderValueAs(so => !so.IsAfgekeurd() ? Html.ActionLink("Afkeuren", "Afkeuren", new { id = so.Id }) : MvcHtmlString.Empty);
        }
    }
}).WithPaging(10).Sortable().EmptyText("")
</div>
