@model IEnumerable<StageBegeleidAanvraag>

@{
    ViewBag.Title = "Begeleider aanvragen";
}

<h2>@ViewBag.Title</h2>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(so => so.Begeleider.Familienaam).Titled("Begeleider").Sanitized(false).Encoded(false).RenderValueAs(so => Html.ActionLink(so.Begeleider.Naam, "details", "Begeleider", new { id = so.Begeleider.Id }, new { }));
    columns.Add(so => so.Stageopdracht).Sanitized(false).Encoded(false).RenderValueAs(so => Html.ActionLink(so.Stageopdracht.Titel, "details", "Stageopdracht", new { id = so.Stageopdracht.Id }, new { }));
    columns.Add(so => so.Status);
    if (User.IsInRole("admin"))
    {
        columns.Add().Sanitized(false).Encoded(false).RenderValueAs(so => Html.ActionLink("goedkeuren", "AanvraagGoedkeuren", new { id = so.Id }));
        columns.Add().Sanitized(false).Encoded(false).RenderValueAs(so => Html.ActionLink("afkeuren", "AanvraagAfkeuren", new { id = so.Id }));
    }
})


