@model StageopdrachtIndexVM
@{
    var message = TempData["message"];
}
<p class="text-success">
    @message
</p>
<h2>@Model.Title</h2>

@if (Model.ToonSearchForm)
{
    @Html.Partial("_ZoekFormulier")
}

@Html.Partial("_StageopdrachtList")

@section scripts{
 <script src="~/Scripts/stagetool-list.js"></script>
}
