@model StageopdrachtIndexVM
@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

@if (Model.ToonZoeken)
{
    @Html.Partial("_ZoekFormulier")
}
@if (Model.ToonCreateNew)
{
    <p>
        @Html.ActionLink("Nieuwe stageopdracht aanmaken", "Create")
    </p>
}
@Html.Partial("_StageopdrachtList")

@section scripts{
    <script src="~/Scripts/stagetool-list.js"></script>
}
