@model IEnumerable<VoorkeurStage>

@{
    ViewBag.Title = Resources.TitelStagesToewijzen;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_StagesToewijzenList")

@section scripts{
    <script src="~/Scripts/stagetool-list.js"></script>
}
