@model StagesToewijzenListVM

@{
    ViewBag.Title = Resources.TitelStagesToewijzen;
}

<h2>@ViewBag.Title</h2>

<a id="searchA" class="btn btn-default" style="display: inline">Zoeken</a>
@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "searchForm", @class = "form-inline" }))
{
    <div class="form-group">
        @Html.TextBoxFor(model => model.Voornaam, new { @class = "form-control", placeholder = "Voornaam", title = "Voornaam" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(model => model.Naam, new { @class = "form-control", placeholder = "Naam", title = "Naam" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default" id="zoekenSubmit">Zoeken</button>
        <a id="CancelBtn" class="btn btn-default">Annuleren</a>
    </div>
}

@Html.Partial("_StagesToewijzenList")

@section scripts{
    <script src="~/Scripts/stagetool-list.js"></script>
}
