@{
    ViewBag.Title = "Studenten uit Excel bestand importeren";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <p>
        Gegevens studenten (excel bestand) <input type="file" name="file" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </p>
    <p>
        Foto's studenten (zip) <input type="file" id="zipFile" name="zipFile" accept="application/zip" />
    </p>
    <p>
        <button type="submit" class="btn btn-default">Importeren</button>
    </p>
}




