<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
        Stageopdrachten
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>@Html.ActionLink("Nieuwe stageopdracht", "Create", "Stageopdracht")</li>
        <li>@Html.ActionLink("Stageopdrachten", "BedrijfMijnStageopdrachten", "Stageopdracht")</li>
        <li>@Html.ActionLink("Archief", "Archief", "Stageopdracht", new { }, new { role = "menuitem" })</li>
    </ul>
</li>
<li>@Html.ActionLink("Contactpersonen", "List", "Contactpersoon")</li>
